.career-container {
  background: var(--bg-primary);
  padding: 4rem 2rem;
  color: var(--text-primary);
  min-height: 100vh; /* ensures the container stretches at least the full viewport height */
  box-sizing: border-box;
}

.career-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-link);
}

.career-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
